{{ define "header" }}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Time Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/addUser">Add User</a></li>
        <li class="nav-item"><a class="nav-link" href="/addActivity">Add Activity</a></li>
        <li class="nav-item"><a class="nav-link" href="/addDepartment">Add Dept</a></li>
        <li class="nav-item"><a class="nav-link" href="/clockInOutForm">Clock In/Out</a></li>
        <!-- 
        <li class="nav-item"><a class="nav-link" href="/work_hours">Work Hours</a></li>
        <li class="nav-item"><a class="nav-link" href="/current_status">Status</a></li>
        <li class="nav-item"><a class="nav-link" href="/work_status">Work Status</a></li>-->
        <li class="nav-item"><a class="nav-link" href="/barcodes">Barcodes</a></li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}
